.App {
  width: 100%;
}

.top-bar {
  background-color: #222;
  color: white;
  position: fixed;
  top: 0px;
}

.top-bar_logo {
  margin-left: 40px;
}

.App-body {
  max-width: 94%;
  margin: auto;
  margin-top: 120px;
}

.side_menu{

}

