.App {
  width: 100%;
}

.top-bar {
  background-color: #222;
  color: white;
  position: fixed;
  top: 0px;
  z-index: 3;
}

.top-bar_logo {
  margin-left: 40px;
}

.App-body {
  max-width: 94%;
  margin: auto;
  margin: 120px 0 60px 0;
}

.side_menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button_link{
  color: white;
}

.page_title{
  margin: 0 0 40px 0;
}

.accountSetup-category{
  margin: 40px 0;
}

.accountSetup-description{
  margin: 80px 0;
}

.accountSetup-table{
  margin-bottom: 50px;
}

.accountSetup-item_left{
  padding-left: 30px;
}

.accountSetup-item_right{
  right: 10px;
}


